In [3]:
# Q1
Grade = {'Lan':80,'Eng':75,'Math':55}
sum(Grade.values()) / len(Grade.values()) # average

70.0

In [4]:
# Q2
if 13 % 2:
  print("13 is odd")
else:
  print("13 is even")

13 is odd

In [6]:
# Q3
pin = "881120-1068234"
yyyymmdd = pin[:6]
num = pin[7:]

print(yyyymmdd)
print(num)

881120
1068234

In [7]:
# Q4
pin = "881120-1068234"
print(pin[7]) # indicates sex

1

In [8]:
# Q5
a = "a:b:c:d"
b = a.replace(':','#')
print(b)

a#b#c#d

In [10]:
# Q6
a = [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [17]:
# Q7
a = ['Life','is','too','short']
result = " ".join(a)
print(result)

Life is too short

In [28]:
# Q8
a = (1,2,3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

In [29]:
# Q9 which one below error and why
a = dict()
a

{}

In [32]:
a['name'] = 'python'

In [33]:
a[('a',)] = 'python'

In [34]:
a[[1]] = 'python' # has list inside - mutable value not allowed

TypeError: ignored

In [35]:
a[250] = 'python'

In [36]:
a

{('a',): 'python', 'name': 'python', 250: 'python'}

In [39]:
# Q10
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

In [41]:
# Q11
a = [1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a) # set type cannot have duplicate values
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

In [42]:
# Q12
a = b = [1,2,3]
a[1] = 4
print(b)

[1, 4, 3]

In [43]:
a is b # reason why b changed as well same location

True