In [1]:
test_list = ['one','two','three']
for i in test_list:
  print(i)

one
two
three

In [2]:
 a = [(1,2),(3,4),(5,6)]
 for (first,last) in a:
   print(first+last) # 1+2, 3+4, 5+6

3
7
11

In [3]:
marks = [90,25,67,45,80]

for mark in marks:
  if (mark >= 80):
    print("pass")
  else:
    print("fail")

pass
fail
fail
fail
pass

In [6]:
marks = [90,25,67,45,80]

number = 0
for mark in marks:
  number = number + 1
  if (mark >= 60):
    print("no. %d student passed" % number)
  else:
    print("no. %d student failed" % number)

no. 1 student passed
no. 2 student failed
no. 3 student passed
no. 4 student failed
no. 5 student passed

In [7]:
marks = [90,25,67,45,80]

number = 0
for mark in marks:
  number = number + 1
  if (mark < 60):
    continue
  else:
    print("Congrats! no. %d student passed" % number)

Congrats! no. 1 student passed
Congrats! no. 3 student passed
Congrats! no. 5 student passed

In [8]:
# range function
a = range(10)
a # 0 to 9

range(0, 10)

In [9]:
add = 0
for i in range(1, 11):
  add = add + i

print(add)

55

In [11]:
marks = [90,25,67,45,80]

for index in range(0,len(marks)):
  if (marks[index] < 60):
    continue
  else:
    print("Congrats! no. %d student passed" % (index+1))

Congrats! no. 1 student passed
Congrats! no. 3 student passed
Congrats! no. 5 student passed

In [12]:
add = 0
for i in range(1, 101):
  add = add + i

print(add)

5050

In [13]:
# multiplication table
for i in range(2,10):
  for j in range(1,10):
    print(i*j, end = " ")
  print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [14]:
a = [1,2,3,4]
result = []
for num in a:
  result.append(num*3)

print(result)

[3, 6, 9, 12]

In [15]:
# for loop inside the list
a = [1,2,3,4]
result = [num*3 for num in a]
print(result)

[3, 6, 9, 12]

In [18]:
# for loop inside the list
a = [1,2,3,4]
result = [num*3 for num in a if num % 2 == 0] # for even number
print(result)

[6, 12]

In [20]:
# multiplication table
result = [x*y for x in range(2,10)
for y in range(1,10)]

print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]