In [1]:
def add(a,b):
  return a+b

In [2]:
a = add(3,4)
print(a)

7

In [3]:
def say():
  return 'Hi'

In [5]:
a = say()
print(a)

Hi

In [6]:
def add(a,b):
  print("sum of %d, %d is %d." % (a,b,a+b))

In [7]:
add(3,4)

sum of 3, 4 is 7.

In [8]:
a = add(3,4)

sum of 3, 4 is 7.

In [9]:
print(a)

None

In [10]:
def say():
  return 'Hi'

In [11]:
say()

'Hi'

In [12]:
def add(a,b):
  return a+b

In [13]:
result = add(a=4,b=6)
print(result)

10

In [14]:
result = add(b=5,a=3)
print(result)

8

In [15]:
def add_many(*args):  # * makes tuple
  result = 0
  for i in args:
    result = result + i
  return result

In [16]:
result = add_many(1,2,3)
print(result)

6

In [17]:
result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

In [21]:
def add_mul(choice,*args):  # * makes tuple
  if choice == "add":
    result = 0
    for i in args:
      result = result + i
  else:
    result = 1
    for i in args:
      result = result * i

  return result

In [22]:
result = add_mul("add",1,2,3,4,5)
print(result)

15

In [23]:
result = add_mul("mul",1,2,3,4,5)
print(result)

120

In [24]:
# keyword parameter

def print_kwargs(**kwargs): # becomes dictionary
  print(kwargs)

In [25]:
print_kwargs(a=1)

{'a': 1}

In [26]:
print_kwargs(name='foo',age=3)

{'name': 'foo', 'age': 3}

In [27]:
def add_and_mul(a,b):
  return a+b, a*b

In [28]:
result = add_and_mul(3,4)

In [29]:
result

(7, 12)

In [30]:
result1, result2 = add_and_mul(3,4)

In [31]:
print(result1, result2)

7 12

In [32]:
def say_nick(nick):
  if nick == "babo":
    return # immediately terminates function
  print("my nickname is %s" % nick)

In [33]:
say_nick("hyung")

my nickname is hyung

In [34]:
say_nick("babo")

In [35]:
def say_myself(name, old, man=True): # initialize parameter
  print("my name is %s" % name)
  print("my age is %d" % old)
  if man:
    print("I am a man")
  else:
    print("I am a woman")

In [36]:
say_myself("Rich",22)

my name is Rich
my age is 22
I am a man

In [37]:
say_myself("Rich",22,True)

my name is Rich
my age is 22
I am a man

In [38]:
say_myself("Tiff",22,False)

my name is Tiff
my age is 22
I am a woman

In [39]:
def say_myself(name, man=True, old): # initialized parameter should be located at the last
  print("my name is %s" % name)
  print("my age is %d" % old)
  if man:
    print("I am a man")
  else:
    print("I am a woman")

SyntaxError: ignored

In [40]:
# variable in func != local variable
a = 1
def vartest(a):
  a = a + 1

vartest(a)
print(a)

1

In [43]:
# sol 1: use return
a = 1
def vartest(a):
  return a + 1

a = vartest(a)
print(a)

2

In [44]:
# sol 2: use global
a = 1
def vartest():
  global a
  a = a + 1

vartest()
print(a)

2

In [45]:
# make func using lambda
add = lambda a, b: a+b
result = add(3,4)
print(result)

7