In [8]:
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [13]:
f = open("newfile.txt", 'w')
f.close()

In [14]:
f = open("newfile.txt", 'w')
for i in range(1, 11):
  data = "line no. %d \n" % i
  f.write(data)
f.close()

In [16]:
f = open("newfile.txt", 'r')
line = f.readline()
print(line)
f.close()

line no. 1

In [17]:
f = open("newfile.txt", 'r')
while True:
  line = f.readline()
  if not line: break
  print(line)
f.close()

line no. 1

line no. 2

line no. 3

line no. 4

line no. 5

line no. 6

line no. 7

line no. 8

line no. 9

line no. 10

In [19]:
f = open("newfile.txt", 'r')
lines = f.readlines()
for line in lines:
  print(line)
f.close()

line no. 1

line no. 2

line no. 3

line no. 4

line no. 5

line no. 6

line no. 7

line no. 8

line no. 9

line no. 10

In [20]:
f = open("newfile.txt", 'r')
data = f.read()
print(data)
f.close()

line no. 1
line no. 2
line no. 3
line no. 4
line no. 5
line no. 6
line no. 7
line no. 8
line no. 9
line no. 10

In [23]:
f = open("newfile.txt", 'a') # add / edit
for i in range(11,20):
  data = "line no.%d \n" % i
  f.write(data)
f.close()

In [24]:
f = open("newfile.txt", 'r')
data = f.read()
print(data)
f.close()

line no. 1
line no. 2
line no. 3
line no. 4
line no. 5
line no. 6
line no. 7
line no. 8
line no. 9
line no. 10
line no.11
line no.12
line no.13
line no.14
line no.15
line no.16
line no.17
line no.18
line no.19

In [26]:
with open("newfile2.txt", "w") as f: # open and close automatically
  f.write("Life is too short, you need python")