In [2]:
# 1
def is_odd(number):
  if number % 2 == 1:
    return True
  else:
    return False

In [3]:
is_odd(3)

True

In [4]:
is_odd(6)

False

In [9]:
# 2
def avg_numbers(*args):
  result = 0
  for i in args:
    result += i
  return result/len(args)

In [10]:
avg_numbers(1,2)

1.5

In [11]:
avg_numbers(1,2,3,4,5)

3.0

In [14]:
# 3
input1 = input("insert 1st number:")
input2 = input("insert 2nd number:")

total = int(input1)+int(input2)
print("sum of two numbers: %d" % total)

insert 1st number:3
insert 2nd number:6
sum of two numbers: 9

In [15]:
# 4
print("you" "need" "python")
print("you"+"need"+"python")
print("you", "need", "python")
print("".join(["you","need","python"]))

youneedpython
youneedpython
you need python
youneedpython

In [17]:
# 5
f1 = open("test.txt", "w")
f1. write("Life is too short")
f1.close()

f2 = open("test.txt", 'r')
print(f2.read())
f2.close()

Life is too short

In [18]:
# 6
user_input = input("write any to save:")
f = open('test.txt', 'a')
f.write(user_input)
f.write("\n")
f.close()

write any to save:new line added

In [19]:
f2 = open("test.txt", 'r')
print(f2.read())
f2.close()

Life is too shortnew line added

In [24]:
# 7
f = open('test7.txt','w')
f. write("Life is too short\nyou need java")
f.close()

f = open("test7.txt", 'r')
print(f.read())
f.close()

Life is too short
you need java

In [25]:
f = open('test7.txt','r')
body = f.read()
f.close()

body = body.replace('java','python')

f = open('test7.txt', 'w')
f.write(body)
f.close()

In [26]:
f = open("test7.txt", 'r')
print(f.read())
f.close()

Life is too short
you need python