In [ ]:
# 1. Change string

string1 = "a:b:c:d"
string1 = string1.replace(':','#')
print(string1)

a#b#c#d

In [ ]:
# 2. define a['C']
a = {'A':90, 'B':80}
a['C']

KeyError: ignored

In [ ]:
a['C'] = 70
a['C']

70

In [ ]:
# 3. what is difference between extend and +? -> I think no difference
a = [1,2,3]
a = a + [4,5] # address changes
a

[1, 2, 3, 4, 5]

In [ ]:
a = [1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [ ]:
# 4.Find sum of scores above or equal to 50
A = [20,55,67,82,45,33,90,97,100,25]

sum = 0
for a in A:
  if a >= 50:
    sum += a

print(sum)

491

In [ ]:
# 5. Fibonacci function
# 0 1 1 2 3 5 8 13

def Fibonacci(n):
  if n <= 1: return n
  else:
    return Fibonacci(n-1) + Fibonacci(n-2)

In [ ]:
Fibonacci(2)

1

In [ ]:
Fibonacci(7)

13

In [ ]:
# 6. get input from user and calculate the total sum

list1 = input("Enter numbers: ")

list1 = list1.split(",")
print(list1)

Enter numbers: 65,45,2,3,45,8
['65', '45', '2', '3', '45', '8']

In [ ]:
sum = 0
for num in list1:
  sum += int(num)

print(sum)

168

In [ ]:
# 7. multiplication tables

num = input("insert number for multiple table (2-9): ")
for i in range(1,10):
  print(int(num)*i, end = ' ')

insert number for multiple table (2-9): 2
2 4 6 8 10 12 14 16 18

In [ ]:
# 8. save reverse order
%ls

abc.txt  drive/  sample_data/

In [ ]:
file1 = open("abc.txt", "r")
print(file1.read())
file1.close()

AAA
BBB
CCC
DDD
EEE

In [ ]:
#read input file
fin = open("abc.txt", "r")
#read file contents to string
data = fin.read()
#change data
str_list = []
tmp_str = ""
for i in range(0,20):
  if (i%4 != 3):
    tmp_str += data[i]
  else: 
    str_list.append(tmp_str)
    tmp_str = ""

print(str_list)
print(list(reversed(str_list)))

write_data = ""
for alphabet in list(reversed(str_list)):
  write_data += alphabet + "\n"

print(write_data)
#close the input file
fin.close()

['AAA', 'BBB', 'CCC', 'DDD', 'EEE']
['EEE', 'DDD', 'CCC', 'BBB', 'AAA']
EEE
DDD
CCC
BBB
AAA

In [ ]:
#open the input file in write mode
fin = open("abc.txt", "wt")
#overwrite the input file with the resulting data
fin.write(write_data)
#close the file
fin.close()

In [ ]:
# 9. find average from the file
file1 = open("sample.txt", "r")
print(file1.read())
file1.close()

70
60
55
75
95
90
80
80
85
100

In [ ]:
#read input file
fin = open("sample.txt", "r")
#read file contents to string
lines = fin.readlines()
#change data
sum = 0
for line in lines:
  sum += int(line)

average = sum / 10

#close the input file
fin.close()

In [ ]:
#open the input file in write mode
fin = open("result.txt", "w")
#overwrite the input file with the resulting data
fin.write(str(average))
#close the file
fin.close()

In [ ]:
# 10. make calculator class

In [ ]:
class Calculator:
  def __init__(self, nums):
    self.result = 0
    self.nums = nums

  def sum(self):
    for num in self.nums:
      self.result += num
    return self.result

  def avg(self):
    return self.result / len(self.nums)

In [ ]:
cal1 = Calculator([1,2,3,4,5])
print(cal1.sum())
print(cal1.avg())

15
3.0

In [ ]:
cal2 = Calculator([6,7,8,9,10])
print(cal2.sum())
print(cal2.avg())

40
8.0

In [ ]:
# 11. import mymod.py
import mymod

In [ ]:
# 12. try except 

result = 0
try:
  [1,2,3][3] # index
  "a"+1 # type
  4 / 0 # zero-division

except TypeError:
  result += 1
except ZeroDivisionError:
  result += 2
except IndexError:
  result += 3
finally:
  result += 4

print(result) # index error + finally

7

In [ ]:
[1,2,3][3]

IndexError: ignored

In [ ]:
"a"+1

TypeError: ignored

In [ ]:
# 13. DashInsert function
def DashInsert(string):
  new_string = ""
  even = False
  odd = False
  for num in string:
    if int(num) % 2 == 0:
      if even == True:
        new_string += "*"
        new_string += num
      else:
        new_string += num
        even = True
        odd = False
    else:
      if odd == True:
        new_string += "-"
        new_string += num
      else:
        new_string += num
        odd = True
        even = False

  print(new_string)

In [ ]:
string = input("Insert nums: ")
DashInsert(string)

Insert nums: 4546793
454*67-9-3

In [ ]:
# 14. String compress
string = input("Insert string: ")
result = ""
ahead = ""
cnt = 1
first = True
for alphabet in string:
  if ahead == alphabet:
    cnt += 1
  else:
    if first == True:
      ahead = alphabet
      first = False
    else:
      result += ahead + str(cnt)
      ahead = alphabet
      cnt = 1

# include last character
result += ahead + str(cnt)

print(result)

Insert string: aaabbccccccc
a3b2c7

In [ ]:
# 15. Duplicate numbers
string = input("Insert string: ")

num_list = string.split(' ')
print(num_list)

Insert string: 0123456789 01234 01234567890 6789012345 012322456789
['0123456789', '01234', '01234567890', '6789012345', '012322456789']

In [ ]:
for num in num_list:
  fail = False
  num_test = [False,False,False,False,False,False,False,False,False,False]
  if len(num) == 10:
    for n in num:
      if num_test[(int(n))] == False:
        num_test[(int(n))] = True
      else:
        fail = True
        break
  else:
    print('False ')
    continue

  if fail == True:
    print('False ')
  else:
    if all(num_test) == True:
      print('True ')
    else:
      print('False')

True
False
False
True
False

In [ ]:
# 16. morse code conversion
morse_code = input("Insert morse code: ")

MORSE_CODE_DICT = { 'A':'.-', 'B':'-...',
                    'C':'-.-.', 'D':'-..', 'E':'.',
                    'F':'..-.', 'G':'--.', 'H':'....',
                    'I':'..', 'J':'.---', 'K':'-.-',
                    'L':'.-..', 'M':'--', 'N':'-.',
                    'O':'---', 'P':'.--.', 'Q':'--.-',
                    'R':'.-.', 'S':'...', 'T':'-',
                    'U':'..-', 'V':'...-', 'W':'.--',
                    'X':'-..-', 'Y':'-.--', 'Z':'--..'
                    }

def decrypt(message):
 
    # extra space added at the end to access the
    # last morse code
    message += ' '
 
    decipher = ''
    citext = ''
    for letter in message:
 
        # checks for space
        if (letter != ' '):
 
            # counter to keep track of space
            i = 0
 
            # storing morse code of a single character
            citext += letter
 
        # in case of space
        else:
            # if i = 1 that indicates a new character
            i += 1
 
            # if i = 2 that indicates a new word
            if i == 2 :
 
                 # adding space to separate words
                decipher += ' '
            else:
 
                # accessing the keys using their values (reverse of encryption)
                for key, value in MORSE_CODE_DICT.items():
                  if citext == value:
                    decipher += key
                citext = ''
 
    return decipher

result = decrypt(morse_code)
print(result)

Insert morse code: .... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--
HE SLEEPS EARLY

In [1]:
# 17. simple re
import re
p = re.compile('a[.]{3,}b')
m = p.match("acccb")
print(m)

None

In [2]:
p = re.compile('a[.]{3,}b') # between a and b at least 3 dots exist
m = p.match("a....b")
print(m)

<re.Match object; span=(0, 6), match='a....b'>

In [3]:
p = re.compile('a[.]{3,}b')
m = p.match("aaab")
print(m)

None

In [4]:
p = re.compile('a[.]{3,}b')
m = p.match("a.cccb")
print(m)

None

In [5]:
# 18. re search
import re
p = re.compile("[a-z]+")
m = p.search("5 python") # start: 2, end: 8
m.start() + m.end()

10

In [23]:
# 19. re grouping
data = """
park 010-9999-9988
kim 010-9909-7789
lee 010-8789-7768
"""

p = re.compile(r"(\w+\s+\d+[-]\d+)[-]\d+")
print(p.sub("\g<1>-####", data))

park 010-9999-####
kim 010-9909-####
lee 010-8789-####

In [26]:
# 20. re search options
p = re.compile(".*[@].*[.].*$")
m = p.search("park@naver.com")
print(m.group())

park@naver.com

In [27]:
p = re.compile(".*[@].*[.].*$")
m = p.search("kweon@snu.ac.kr")
print(m.group())

kweon@snu.ac.kr

In [32]:
p = re.compile(".*[@].*[.](?=com$|net$)")
m = p.search("park@naver.com")
print(m.group())

park@naver.

In [33]:
p = re.compile(".*[@].*[.](?=com$|net$)")
m = p.search("park@daum.net")
print(m.group())

park@daum.

In [34]:
p = re.compile(".*[@].*[.](?=com$|net$)")
m = p.search("kweon@snu.ac.kr")
print(m.group())

AttributeError: ignored